<%=div_for(comment) do%>
  <b><%=link_to comment.user.name, comment.user%></b>
  <span id="body"><%= comment.body %></span>
  <b><%= comment.created_at.strftime("%Y/%m/%d %H:%M")%></b>
  <%= link_to 'Destroy', comment, :method=>:delete, remote: true%>
<%end%>
