<%=div_for(post) do%>
  <b>Written by: <%= link_to post.user.name, post.user %></b><br/>
  <b>Written at: <%= post.created_at.strftime("%Y/%m/%d %H:%M") %></b><br/>
  <b>Title: <%= post.title %> </b><%= "("+post.comments.count.to_s+")" if post.comments.count != 0%><br/>
  <br/>
  <%= post.body.html_safe %>
  <br/>
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
  <hr>
<% end %>