<p id="notice"><%= notice %></p>
<%= render @post%>

<%=form_for @comment,remote: true do |f| %>
<%=f.hidden_field :post_id%>


<p>
  <%=f.label :Comment%>
  <%=f.text_field :body%>
  <%= f.submit "Post Comment"%>
</p>
<%end%>


<div id="comments">
  <%= render @comments %>
</div>