@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

hr {
	border-top: 1px solid #8c8b8b;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* header */

#logo {
	float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

header div nav ul li {
	font-weight: bold;
	text-transform: uppercase;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#newpost {
	float:left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #9e9e9e;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

#newpost:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
  height: 30px;
	background-color: #f0f0f0;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
	font-size: 1em;
  float: left;
}


footer ul {
  float: right;
	padding-bottom: 5px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

