<footer class="footer">
  <div class="container">
  <small>
  <% if logged_in?%>
    logged in as: <b><%=current_user.name%></b>
  <% end%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  </div>
</footer>