<!DOCTYPE html>
<html>
  <%=favicon_link_tag 'favicon.ico'%>
<head>
  <title>대게의 고향</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/header'%>
  <div class="content">
  <%= yield %>
  </div>
  <%= render 'layouts/footer'%>
  <hr>
  <div>
  <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
